.container h1 {
    text-align: center;
    font-weight: bold;
}

.galeria {
    padding: 35px;
}

.galeria .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}