/*Menu*/

/*Fotos*/
.container-fotos h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
}

.galeria-fotos {
    padding: 35px;
}

.galeria-fotos .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}

/*Videos*/
.container-videos h1 {
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
}

.galeria-videos {
  padding: 35px;
}

.galeria-videos {
  text-align: center;
  margin: 0 auto;
  width: 80%;
  display: block;
}